<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.vhr_android_demo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Vhr_android_demo"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginDoneActivity"
            android:exported="true"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".RegistActivity"
            android:exported="true" />
        <activity
            android:name=".EmployeeActivity"
            android:exported="true" />
        <activity
            android:name=".EmployeeDetailsFragment"
            android:exported="true"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".EmployeeTitlesFragment"
            android:exported="true"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".EmployeeUpdateActivity"
            android:exported="true"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".EmployeeInsertActivity"
            android:exported="true"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".EmployeeSelectActivity"
            android:exported="true"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".EmployeeSearchActivity"
            android:exported="true"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".EmployeeSearchDoneActivity"
            android:exported="true"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".EmployeeDeleteActivity"
            android:exported="true"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".EmployeeActivity$DetailsActivity"
            android:label="EmployeeDetails" />

        <activity
            android:name=".SalaryActivity"
            android:exported="true"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".SalaryDetailsFragment"
            android:exported="true"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".SalaryTitlesFragment"
            android:exported="true"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".SalaryUpdateActivity"
            android:exported="true"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".SalaryInsertActivity"
            android:exported="true"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".SalarySelectActivity"
            android:exported="true"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".SalaryActivity$DetailsActivity"
            android:label="SalaryDetails" />


        <activity
            android:name=".MyActivity"
            android:exported="true"
            tools:ignore="Instantiatable" /><activity
        android:name=".HrDetailsFragment"
        android:exported="true"
        tools:ignore="Instantiatable" />
        <activity
            android:name=".HrTitlesFragment"
            android:exported="true"
            tools:ignore="Instantiatable" />

        <activity
            android:name=".MyActivity$DetailsActivity"
            android:label="HrDetails" />
    </application>

</manifest>